* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

header {
    margin-left: 10%;
}

.hero {
    height: 300px;
    width: 80%;
    left: -20vw;
}

.headvar {
    position: relative;
}

h1 {
    display: inline-block;
    margin-top: 0px;
    margin-right: 10%;
    font-size: 20px;
}

nav {
    position: relative;
    top: 10px;
    right: 40px;
    display: inline;

}

nav a {
    background-color: rgb(201, 43, 43);
    padding: 4px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px white;
}

.selected {
    background-color: green;
}

main {
    font-size: 80%;
}

.logo {
    width: 150px;
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 120px;
    float: left;
}

.line{
    text-decoration: underline;
    }

div {
    position: relative;
    left: 5%;
}

.titular {
    background-color: black;
    height: 40px;
    width: 72%;
    position: relative;
    left: 10%;
}

h2 {
    text-align: center;
    color: white;
    padding-top: 7px;
    position: relative;
    left: -15%;
}

.article {
    position: relative;
    height: 40vw;
    width: 80%;
    margin-top: 35px;
    left: 20px;
}
.online{
   position: relative;
   text-align: justify;
    height: 30vw;
    width: 80%;
    margin-top: 30px;
    
}

.fotos {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 150px;
}

.fotos img {
    height: 150px;
    border: 2px solid black;
}

div> p{
    padding-top: 20px;
    position: relative;
    left: 50px;
    font-size: 20px;
}

.items {
    list-style-type: lower-alpha;
}

.play{
    font-size: 14px;
    color: black;
    font-weight: bold;}

h3{
position: relative;  
left: -2%;  
}

.player{
    display: flex;
    font-size: 14px;
    color: black;
    font-weight:bold;
}

ol{
    margin-left: 18px;
}

div> h3{
    margin-top: 30px;
}
div> p{
    margin-top: 5px;
    margin-bottom: 15px;
}
.subtitle{
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 45px;
    text-decoration: underline;
}

.subrayar {
    text-decoration: underline;
}

td,
th {
    width: 150px;
    text-align: center;
    border: 2px solid black;
}
.punto{
   margin-left: 40px;
}

span {
    font-weight: bold;
}

.ultimo {
  display: flex;
  flex-direction: column;
  width: 80%; 
}

form{
    width: 60%;
    height: 80vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

p, .grafit{
    font-weight:bolder;
}

.content{
    margin-top: 20px;
}

.text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
}
td>iframe{
    width: 250px;
    height: 250px;
}